/* FLEX DIRECTION */
body{
    margin: 0;
    font-family: sans-serif;
}

.flexbox{
    display: flex;
    /* flex-direction: row-reverse; */
    flex-direction: column;
}

.flex-item{
    width: 180px;
    color: #fff;
    background-color:#911;
    margin: 10px;
    text-align: center;
    font-size: 40px;
}
.flex-item:first-child{
    background-color: #d56;
}